*{
  margin: 0;
  font-family: 'Outfit', sans-serif;
}
.App {
  width: 98.7vw;
}

#navBar{
  display: flex;
  gap: 54.04px;
}
#navBar>section{
  display: flex;
  align-items: center;
}
#navBar>.tittle{
  gap: 7.3px;
}
#navBar>.routes{
  gap: 24px;
}
#navBar>.phoneNumber{
  gap: 11px;
}